<textarea style="width:100%; font-family: monospace;" rows="10">
Consent for Use of Personal Information

I authorize the Canadian Soccer Association, Ontario Soccer Association, Durham Region S.A., and Oshawa N.A.S.C. Soccer to collect and use personal information about me or my child/ward for the purpose of receiving communications from the Canadian Soccer Association, Ontario Soccer Association, District, League, and Club.

I understand that I may withdraw such consent related to receiving communications at any time by contacting the OSA Privacy Officer at OSAPrivacyOfficer@soccer.on.ca or by mail to:

	Attention:  OSA Privacy Officer
	Ontario Soccer Association
	7601 Martin Grove Road
	Vaughan, ON L4L 9E4

The Privacy Officer will advise the implications of such withdrawal.

We do not sell or distribute your personal information to any other third party not listed herein.
</textarea>

<hr>

<textarea style="width:100%; font-family: monospace;" rows="10">
Acceptance of Terms and Conditions (Under 18)

In consideration of the acceptance of my child/ward's membership in the Ontario Soccer Association, District Association and Club, I, the parent/guardian (for the participant under 18 years of age), agree as follows:

1.	I understand that my child/ward cannot play in any sanctioned soccer game until after this registration form has been validated and the registration data has been entered in The Ontario Soccer Association's computerized registration system.
2.	I have reviewed the participation agreement attached and my signature affixed hereto indicates my agreement with such participation agreement.
3.	I am aware of The Ontario Soccer Association, Durham Region S.A., Oshawa N.A.S.C. Soccer, and League bylaws, policies, rules and regulations and agree to abide by them and to be bound by them.
4.	I accept sole responsibility for my child/ward's personal possessions and athletic equipment.
5.	I accept all liability for any damage to the playing equipment caused by my child/ward's careless, negligent, and/or improper handling.

By signing and dating below, you agree that you are the parent or legal guardian of the player being registered and to be bound by this Legal Agreement even if you have not read the agreement.
</textarea>

<hr>

<textarea style="width:100%; font-family: monospace;" rows="10">
Acceptance of Terms and Conditions (Over 18)

In consideration of the acceptance of my child/ward's membership in the Ontario Soccer Association, District Association and Club, I, the participant, agree as follows:
1.	I understand that I cannot play in any sanctioned soccer game until after this registration form has been validated and the registration data has been entered in The Ontario Soccer Association's computerized registration system.
2.	I have reviewed the participation agreement attached and my signature affixed hereto indicates my agreement with such participation agreement.
3.	I am aware of The Ontario Soccer Association, Durham Region S.A., Oshawa N.A.S.C. Soccer, and League bylaws, policies, rules and regulations and agree to abide by them and to be bound by them.
4.	I accept sole responsibility for my personal possessions and athletic equipment.
5.	I accept all liability for any damage to the playing equipment caused by my careless, negligent, and/or improper handling.
By signing and dating below, you agree that you are the player being registered and to be bound by this Legal Agreement even if you have not read the agreement.
</textarea>

<hr>

<textarea style="width:100%; font-family: monospace;" rows="10">
Participant's Agreement (Under 18)

IN CONSIDERATION of allowing my minor child/ward to participate in the programs, activities and events of The Ontario Soccer Association, I ASSURE YOU THAT:
1.	I am the parent/guardian of the above named participant having full legal responsibility for decisions regarding the above named participant.
2.	I believe that my child/ward is physically, emotionally and mentally able to participate in the programs, activities and events of The Ontario Soccer Association.
3.	I hereby acknowledge that I am aware of the risks and hazards associated with or related to soccer.  The risks and hazards include, but are not limited to injuries from:
a.	Executing strenuous and demanding physical techniques in soccer;
b.	Dryland training including weights, running and massage;
c.	Grass, turf and other surfaces including bacterial infections and rashes;
d.	Falls to the ground due to uneven or irregular terrain or surfaces;
e.	Collisions with walls and soccer equipment;
f.	Failure to properly use any piece of equipment or from the mechanical failure of any piece of equipment;
g.	Extreme weather conditions which may result in heatstroke, sunstroke, or hypothermia;
h.	Contact, colliding or being struck by other participants, spectators, equipment or vehicles;
i.	Vigorous physical exertion and strenuous cardiovascular workouts;
j.	Exerting and stretching various muscle groups; and
k.	Travel to and from competitive events and associated non-competitive events which are an integral part of the organization's activities.
4.	Furthermore, I am aware that my child/ward may:
a.	Sustain injuries in soccer that can be severe, cause spinal core injuries and even be fatal;
b.	Experience anxiety while challenging himself/herself during the activities, events and programs;
c.	Come into close contact with other participants, including the possibility of accidental and unexpected contact;
d.	Risk of injury is reduced if he/she follows all rules established for participation; and
e.	Risk of injury increases as he/she becomes fatigued.

I UNDERSTAND AND AGREE, on behalf of myself, my heirs, assigns, personal representatives and next of kin that my signing of this document constitutes:

5.	I am registering my child/ward willingly and my child/ward is participating voluntarily in these activities, events and programs
6.	I agree that there are risks in soccer as described above and my child/ward will be exposed to these risks and hazards.
7.	I agree to accept all these risks and hazards and be responsible for any injury or loss which my minor child/ward might receive while participating in these events, activities and programs.
8.	If something happens to my child/ward, I release the Organizers of responsibility for any claims, demands, actions and costs which might arise out of my child/ward's participation.  I understand “Organizers” to mean:  The Ontario Soccer Association, District Associations, Leagues, Clubs and their directors, officers, members, employees, volunteers, officials, participants, clubs, agents, sponsors, owners/operators of facilities, and representatives.

Accident Insurance
Executing this agreement will not preclude you from accidental insurance coverage, subject to the terms and conditions of The Ontario Soccer Association's insurance policy.

I ACKNOWLEDGE MAKING THIS AGREEMENT

By signing and dating below, you agree that you are the parent or legal guardian of the player being registered and to be bound by this Legal Agreement even if you have not read this agreement.
</textarea>

<hr>

<textarea style="width:100%; font-family: monospace;" rows="10">
Participant's Agreement (Over 18)

1.	This is a binding legal agreement.  As a Participant in the programs, activities and events of the Ontario Soccer Association, their Districts, Leagues and Clubs, the undersigned acknowledges and agrees to the following terms.
2.	The Ontario Soccer Association, their Districts, Leagues and Clubs, directors, officers, members, employees, coaches, volunteers, officials, participants, clubs, agents, sponsors, owners/operators of facilities, and representatives (the “Organization”) are not responsible for any injury, damage or loss of any kind suffered by a Participant during, or as a result of, any program, activity or event, caused in any manner whatsoever including, but not limited to, the negligence of the Organization.
3.	In consideration of my participation as a Participant in such programs, activities and events, I hereby acknowledge that I am aware of the risks and hazards associated with or related to soccer.  The risks and hazards of soccer include, but are not limited to injuries from:
•	Executing strenuous and demanding physical techniques in soccer;
•	Dryland training including weights, running and massage;
•	Grass, turf and other surfaces including bacterial infections and rashes;
•	Falls to the ground due to uneven or irregular terrain or surfaces;
•	Collisions with walls and soccer equipment;
•	Failure to properly use any piece of equipment or from the mechanical failure of any piece of equipment;
•	Spinal cord injuries which may render me permanently paralyzed;
•	Extreme weather conditions which may result in heatstroke, sunstroke or hypothermia;
•	Contact, colliding or being struck by other participants, spectators, equipment or vehicles;
•	Vigorous physical exertion and strenuous cardiovascular workouts;
•	Exerting and stretching various muscle groups; and
•	Travel to and from competitive events and associated non-competitive events which are an integral part of the organization's activities.
4.	Furthermore, I am aware:
•	That injuries sustained in soccer that can be severe;
•	That I may come into contact with other participants, including the possibility of accidental and unexpected contact;
•	That I may experience anxiety while challenging myself during the activities;
•	That my risk of injury is reduced if I follow all rules adopted during training; and
•	That my risk of injury increases as I become fatigued.
5.	In consideration of the Organization allowing me to participate as a Participant, I agree:
a.	To assume all risks arising out of, associated with or related to my participation;
b.	To be solely responsible for any injury, loss or damage that I might sustain while participating; and
c.	To release the Organization from liability for any and all claims, demands, actions and costs that might arise out of my participating, even though such risks, injuries, loss, damage, claims, demands, actions or costs may have been caused by the negligence of the Organization.

Accident Insurance
Executing this agreement will not preclude you from accidental insurance coverage, subject to the terms and conditions of The Ontario Soccer Association's insurance policy.

I ACKNOWLEDGE MAKING THIS AGREEMENT

By signing and dating below, you agree that you are the parent or legal guardian of the player being registered and to be bound by this Legal Agreement even if you have not read this agreement.
</textarea>

<hr>

<textarea style="width:100%; font-family: monospace;" rows="10">
Parents Responsibilities:

1.	To support your child/children with encouragement and insist upon sportsmanship.
2.	To remember that the games are for the children; let them have fun!
3.	YOU are responsible for transportation and proper equipment for your child.
4.	It is the responsibility of the O.C.C.N.A., N.A.S.C. Executives and the various sports sub-Committees to inform you that a parent or guardian must be present during every game or practice that your child attends.  This applies to all children under the legal age of consent.
</textarea>

<hr>

<textarea style="width:100%; font-family: monospace;" rows="10">
Neighbourhood Associations Sports Committee Agreement

1.	The sport listed on this form, which the N.A.S.C. volunteers co-ordinate, are not without risk of personal injury.  While every effort is made to ensure your child has a safe, enjoyable season, there still remains the element of risk inherent in this activity.  The nature of this activity includes risks related to practices, games, and tournaments, travel to and from locations, weather, condition of equipment and facilities.  By signing below I certify that I will abide by the N.A.S.C. SPORTS RULES and I am the parent or legal guardian of the above named child, and acknowledge the risks stated above.
2.	Refund Policy:
a.	Any refund for the de-registration of this child is the sole responsibility of the Neighbourhood Association they have been assigned to.
b.	An administration fee for de-registering may apply.
3.	Personal information is collected by the City of Oshawa for the sole purpose of allocating sport facility time to organizations and individuals in accordance with the City's Outdoor Field Management Policy.  All information shall be kept in strict confidence and not use for any other purpose.

Waiver:  Oshawa N.A.S.C. Soccer has the right to use the likeness of all players playing within Oshawa N.A.S.C. Soccer for promotional purposes without further consent.
</textarea>
