{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
  <div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Verification Required</h4>
    By completing the checkout process you agree to pay all registration fees listed on this page.  You also agree to upload proof of residency as well as proof of age.  If you do not wish to upload these documents to our registration system, please do not continue.
  </div>

	<h1>Checkout</h1>

	{% if fees %}
		<table class="table table-striped">
			{% for player in fees %}
			<tr>
				<td>
					<strong>{{ player }}</strong>
					{% for (title, fee) in fees[player] %}
					<br><span class="indent">{{ title|safe }}</span>
					{% endfor %}
				</td>
				<td style="text-align: right;">
					{% for (title, fee) in fees[player] %}
					<br><span>${{ "%0.2f"|format((fee / 100)|float) }}</span>
					{% endfor %}<br>
				</td>
			</tr>
			{% endfor %}
			<tr>
				<td><strong>Total</strong></td>
				<td style="text-align: right;">
					<strong>
						${{ "%0.2f"|format((total / 100)|float) }}
					</strong>
					<br>
				</td>
			</tr>
		</table>

		<script src="https://checkout.stripe.com/v2/checkout.js"></script>

		<form action="/checkout" method="post" class="pull-right">
			<script src="https://checkout.stripe.com/v2/checkout.js"
				class="stripe-button"
				data-key="{{ key }}"
				data-label="Secure Checkout"
				data-amount="{{ total }}"
				data-name="Summer Sports Registration"
				data-description="Registration Fees (${{ "%0.2f"|format((total / 100)|float) }})"></script>
		</form>

		<h3>Fees</h3>

		<ol>
			<li>User fees are part of a decision by Oshawa City Council to <a href="http://www.oshawaexpress.ca/viewposting.php?view=2212">tax recreational sports in Oshawa</a>.</li>
			<li>The convenience fee covers the costs of hosting the online registration.</li>
			<li>Park fees are charged by parks.  This fee varies in amount depending on which park you reside in.</li>
		</ol>
	{% else %}
	<p>Please <a href="/register">register a player</a> before proceeding to checkout.  If you have already registered a player and checked out, please ensure they are <a href="/verify">verified</a>.</p>
	{% endif %}
{% endblock %}
