{% extends "base.html" %}
{% block content %}
<h1>Moderate</h1>

<h2>Address</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Proof</th>
			<th>Approve</th>
		</tr>
	</thead>
	<tbody>
	{% for user in addresses %}
		<tr>
			<td>{{ user.get_full_name() }}</td>
			<td>{{ user.apt }} {{ user.street }}<br>{{ user.city }}, ON {{ user.postal_code }}</td>
			<td><a href="{{ url_for('view_upload', id=user.verified_addr_doc) }}">Show Image</a></td>
			<td>
				<form action="{{ url_for('verify_address', id=user.id) }}" method="post">
					<button type="submit" class="btn">Approve</button>
				</form>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<h2>Date of Birth</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Date of Birth</th>
			<th>Proof</th>
			<th>Approve</th>
		</tr>
	</thead>
	<tbody>
	{% for player in players %}
		<tr>
			<td>{{ player.first_name }} {{ player.last_name }}</td>
			<td>{{ player.date_of_birth }}</td>
			<td><a href="{{ url_for('view_upload', id=player.verified_dob_doc) }}">Show Image</a></td>
			<td>
				<form action="{{ url_for('verify_player', id=player.id) }}" method="post">
					<button type="submit" class="btn">Approve</button>
				</form>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
