{% extends "base.html" %}
{% block content %}
<div class="hero-unit">
	<h1>Success</h1>

	<p>The player has been successfully registered.  You may <a href="/register">register another player</a>, or complete the registration process by going to <a href="/checkout">checkout</a>.</p>

	<a href="/checkout" class="btn btn-primary btn-large"><i class="icon-shopping-cart"></i> Checkout</a>
	<a href="/register" class="btn btn-large"><i class="icon-plus-sign"></i> Register Player</a>
</div>
{% endblock %}
