<textarea style="width:100%; font-family: monospace;" rows="10">
Parents Responsibilities:

1.	To support your child/children with encouragement and insist upon sportsmanship.
2.	To remember that the games are for the children; let them have fun!
3.	YOU are responsible for transportation and proper equipment for your child.
4.	It is the responsibility of the O.C.C.N.A., N.A.S.C. Executives and the various sports sub-Committees to inform you that a parent or guardian must be present during every game or practice that your child attends.  This applies to all children under the legal age of consent.
</textarea>

<hr>

<textarea style="width:100%; font-family: monospace;" rows="10">
Neighbourhood Associations Sports Committee Agreement

1.	The sport listed on this form, which the N.A.S.C. volunteers co-ordinate, are not without risk of personal injury.  While every effort is made to ensure your child has a safe, enjoyable season, there still remains the element of risk inherent in this activity.  The nature of this activity includes risks related to practices, games, and tournaments, travel to and from locations, weather, condition of equipment and facilities.  By signing below I certify that I will abide by the N.A.S.C. SPORTS RULES and I am the parent or legal guardian of the above named child, and acknowledge the risks stated above.
2.	Release Waiver
“I hereby grant Oshawa N.A.S.C. Softball the irrevocable right to use, at their sole discretion, any information and/or photograph of/or about my child for publicity, advertising, or other promotion of Oshawa N.A.S.C. Softball.  I understand that this may include written, pictorial or video materials.”
3.	Refunds/NSF Cheques
An administration fee will apply to all refunds and NSF cheques.  NO REFUNDS after June 1st of the current playing season
4.	Personal information is collected by the City of Oshawa for the sole purpose of allocating sport facility time to organizations and individuals in accordance with the City's Outdoor Field Management Policy.  All information shall be kept in strict confidence and not use for any other purpose.
</textarea>
