{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<h1>Register Player</h1>
	<form class="form form-horizontal" method="post" action="/register">
		{{ form.hidden_tag() }}
		
		{{ wtf.horizontal_field(form.first_name) }}
		{{ wtf.horizontal_field(form.last_name) }}

		<div class="control-group ">
			<label class="control-label" for="date_of_birth">Date of Birth</label>
			<div class="controls">
				<div class="input-append date">
					<input id="date_of_birth" name="date_of_birth" type="text" readonly="readonly">
					<span class="add-on"><i class="icon-calendar"></i></span>
				</div>
			</div>
		</div>
		{{ wtf.horizontal_field(form.gender) }}

		{{ wtf.horizontal_field(form.age_group_id) }}

		{{ wtf.horizontal_field(form.notes, placeholder="Please list any health concerns, allergies, etc.", rows="5") }}
		{{ wtf.horizontal_field(form.pooling, placeholder="Please list any special requests here.  For example, if you want your child to play with another player or in another park, please specify here.", rows="5") }}

		{{ wtf.horizontal_field(form.allstar) }}

		<fieldset>
			<legend>Playing History</legend>
			{{ wtf.horizontal_field(form.played_before) }}
			<div data-bind="visible: played_before">
				{{ wtf.horizontal_field(form.played_years) }}
				{{ wtf.horizontal_field(form.played_position) }}
			</div>

			{{ wtf.horizontal_field(form.osa_another_country) }}
			<div data-bind="visible: osa_another_country">
				{{ wtf.horizontal_field(form.osa_what_year) }}
				{{ wtf.horizontal_field(form.osa_what_country) }}
				{{ wtf.horizontal_field(form.osa_what_club) }}
			</div>
		</fieldset>

		<fieldset>
			<legend>Emergency Contact</legend>
			{{ wtf.horizontal_field(form.ec_name) }}
			{{ wtf.horizontal_field(form.ec_num) }}
		</fieldset>

		<div class="form-actions">
			 <button name="register" type="submit" class="btn btn-primary">Register</button>
		</div>
	</form>
{% endblock %}

{% block bootstrap_js_bottom %}
{{ super() }}

<script>
	// Wire up attributes.
	$("#played_before").attr("data-bind", "checked: played_before");
	$("#osa_another_country").attr("data-bind", "checked: osa_another_country");
	$("#gender").attr("data-bind", "value: gender");
	$("#date_of_birth").attr("data-bind", "value: date_of_birth, valueUpdate: 'afterkeydown'");
	$("#age_group_id").attr("data-bind", "options: programs, optionsText: 'text', optionsValue: 'id', value: program, optionsCaption: 'Select a Program...'");

	var Register = function() {
		var self = this;

		self.played_before = ko.observable($("#played_before").is(":checked"));
		self.osa_another_country = ko.observable($("#osa_another_country").is(":checked"));
		self.gender = ko.observable();
		self.date_of_birth = ko.observable($("#date_of_birth").val());
		self.programs = ko.observableArray([]);
		self.program = ko.observable();

		self.loadPrograms = function(gender, date_of_birth) {
			if (gender && date_of_birth && date_of_birth.length == 10) {
				$.getJSON("/api/programs", {
						gender: gender,
						date_of_birth: date_of_birth
					},
					function(data) {
						self.programs(data.programs);
					}
				);
			}
		};

		self.gender.subscribe(function(gender) {
			self.loadPrograms(gender, self.date_of_birth());
		});

		self.date_of_birth.subscribe(function(date_of_birth) {
				self.loadPrograms(self.gender(), date_of_birth);
		});
	};

	ko.applyBindings(new Register());

	$(".date").datepicker({
		format: "yyyy-mm-dd",
		startView: "decade",
	});

	$("#ec_num").mask("(999) 999-9999");	
</script>
{% endblock %}
