{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<h1>Sign Up</h1>
	<form class="form form-horizontal" method="post" action="/signup">
		{{ form.hidden_tag() }}
		<fieldset>
			<legend>Account Information</legend>
			{{ wtf.horizontal_field(form.first_name) }}
			{{ wtf.horizontal_field(form.last_name) }}
		
			{{ wtf.horizontal_field(form.password) }}
			{{ wtf.horizontal_field(form.confirm) }}
		</fieldset>

		<fieldset>
			<legend>Address</legend>
			{{ wtf.horizontal_field(form.apt) }}
			{{ wtf.horizontal_field(form.street) }}
			{{ wtf.horizontal_field(form.city) }}
			{{ wtf.horizontal_field(form.postal_code) }}
		</fieldset>

		<fieldset>
			<legend>Contact</legend>
			{{ wtf.horizontal_field(form.email) }}
			{{ wtf.horizontal_field(form.primary_phone) }}
			{{ wtf.horizontal_field(form.secondary_phone) }}
		</fieldset>

		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input id="marketing" name="marketing" type="checkbox"> I'd like to receive emails from N.A.S.C. Soccer, Softball, and their affiliates
				</label>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input id="volunteering" name="volunteering" type="checkbox"> I'd like to volunteer, please contact me with information on how to volunteer
				</label>
			</div>
		</div>

		<strong>If you do not receive email confirmation from us within a few minutes, please check your spam folder.</strong>
		
		<div class="form-actions">
			 <button name="register" type="submit" class="btn btn-primary">Register</button>
		</div>
	</form>
{% endblock %}

{% block bootstrap_js_bottom %}
{{ super() }}
<script>
$("#primary_phone").mask("(999) 999-9999");
$("#secondary_phone").mask("(999) 999-9999");
</script>
{% endblock %}
