{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}

<h1>Verification</h1>

{% if done %}
<p>You have completed the verification process.  Your children are now registered.</p>
{% else %}
<h2>Address</h2>

{% if current_user.verified_addr %}
<p>Your address is <span class="text-success">verified</span>.  No further action is required.</p>
{% elif not current_user.verified_addr and current_user.verified_addr_doc %}
<p>Your address is <span class="text-info">pending verification</span>.</p>
{% else %}
<p>Your address is <span class="text-error"><strong>not</strong> verified</span>.  Please upload a scan or photograph of a government issued ID clearly displaying your address.  Acceptable documents include:</p>

<ul>
	<li>Driver's license</li>
	<li>A recent bill with your name and address displayed</li>
</ul>

<form method="post" enctype="multipart/form-data" action="{{ url_for('upload') }}">
	<input type="file" name="photo">
	<button type="submit" class="btn"><i class="icon-upload"></i> Upload</button>
</form>

{% endif %}

<h2>Player(s)</h2>

<p>Below is a list of players you have registered.  Please ensure you provide a scan or photograph of a government issued ID to verify date of birth for each child.  Acceptable documents include:</p>

<ul>
	<li>Birth certificate</li>
	<li>Passport</li>
	<li>Driver's license</li>
</ul>

<p>Please <strong>do not</strong> upload a photo of a health card.</p>

{% if current_user.players.count() > 0 %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Player</th>
				<th>Date of Birth</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			{% for player in current_user.players %}
			<tr>
				<td>{{ player.get_full_name() }}</td>
				<td>{{ player.date_of_birth }}</td>
				<td>
					{% if player.verified_dob %}
					<i class="icon-ok"></i> <span class="text-success">Verified</span>
					{% elif player.verified_dob_doc %}
					<i class="icon-time"></i> <span class="text-info">Pending</span>
					{% else %}
					<i class="icon-remove"></i> <span class="text-error">Not verified</span><br>
					<form method="post" enctype="multipart/form-data" action="{{ url_for('upload') }}">
						<input type="hidden" name="player_id" value="{{ player.id }}">
						<input type="file" name="photo">
						<button type="submit" class="btn"><i class="icon-upload"></i> Upload</button>
					</form>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>You have not registered any players or have not checked out.</p>
	{% endif %}
{% endif %}
{% endblock %}
